.header-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    width: 40vh;
    margin: 2rem 4rem;
  }
}



/* %shadow {
  box-shadow: 0px 10px 6px $shadow-color;
  -webkit-box-shadow: 0px 10px 12px 0px $shadow-color;
  -moz-box-shadow: 0px 10px 12px 0px $shadow-color;
}

.btn {
  @extend %shadow;
  border: none;
  font-size: 1.6rem;
  font-weight: 500;
  height: 50px;
  border-radius: 25px;
  cursor: pointer; 
} 

.btn--width {
  width: 100%;
}

.btn--linear-gardient {
  @extend .btn;
  background: rgb(147,86,220);
  background: -moz-linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
  background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc",endColorstr="#ff79da",GradientType=1);
  color: white;
  width: 218px;
  &:hover {
    background: $primary-color;
  }
}

.footer-block {
  background-color: $dark-color;
  color: white;
}

.footer-title {
  font-family: "Shrikhand", serif;
  font-size: 1.8rem;
  padding-left: 2.5rem;
  padding-top: 2.2rem;
} */