@use "./partials/themes";
// @import "./partials/themes";
@import "./partials/utils";
@import "./partials/componants";
@import "./css_reset.css";
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@font-face {
  font-family: "Roboto", sans-serif;
  src: url(../assets/Fonts/roboto/Roboto-Regular.ttf) format("truetype");
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none
}

ul {
  list-style: none;
}

.title {
  font-family: "Shrikhand", serif;
  font-size: 2.8rem;
  /* font-weight: 400; */
}

%shadow {
  box-shadow: 0px 10px 6px themes.$shadow-color;
  -webkit-box-shadow: 0px 10px 12px 0px themes.$shadow-color;
  -moz-box-shadow: 0px 10px 12px 0px themes.$shadow-color;
}

%card-shadow {
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1);
}

.btn {
  font-size: 1.6rem;
  @extend %shadow;
  border: none;
  border-radius: 25px;
  /* changed only on "menu" pages */
  background-color: themes.$background-color;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
  /* margin-left: 1.3rem;
  margin-right: 1.3rem; */
}

.main-container {
  background-color: themes.$second-background-color;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  padding-bottom: 4rem;
  position: relative;
  z-index: 2;
  top: -30px
}

.title-block { 
  display: flex;
  align-items: center;
  gap: 3rem;

  h1 {
    margin-left: 1.7rem;
    padding-top: 3.2rem;
    padding-bottom: 4rem;
    font-weight: 400;
    font-size: 2.8rem;
  }
}

.wrapper-icon {
  padding-left: 4rem;
}

.cards {
  background-color: themes.$second-background-color;
  padding: 1rem 1.7rem;
  
  &__type {
    text-transform: uppercase;
    font-size: 1.6rem;
    position: relative;
  }

  &__type::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    bottom: -6px;
    left: 0;
    background-color: themes.$third-color;
  }
}

.card {
  @extend %card-shadow;
  height: 6.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  border-radius: 25px;
  font-size: 1.6rem;
  background-color: themes.$background-color;
  overflow: hidden;
  // padding: 1.2rem 0 1.2rem 1.5rem;
  animation: cards-onset .5s;
  animation-play-state: running;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
/*********************************** 
*** menu cards animated on hover *** 
************************************/
  &__check {
    background-color: themes.$third-color;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 100%;
    margin-right: -60px;
    transition: margin 500ms;
  }

  &:hover {
    .card__check {
    margin-right: 0;
    }
  }

  &__content {  
    padding: 1.2rem 0 1.2rem 1.5rem;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &--title {
      font-size: 1.8rem;
      font-weight: 500;
      padding-left: 1.7rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-bottom: 0.5rem;
    }

    &--description {
      font-size: 1.5rem;
      font-weight: 300;
      padding-left: 1.7rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      // margin-bottom: 1.35rem;
    }

    &--price {
      display: flex;
    }
  }  

  &__bold {
    font-weight: 700;
    padding: 3.75rem 1.35rem 1.3rem 0;
  }
  
}



.fa-check {
  background-color: themes.$background-color;  
  color: themes.$third-color;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  text-align: center;
  padding: 5px 3px 0 3px;
}

.btn--width {
  width: 100%;
}

.btn-submit {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

/****************************************
  menu cards animation on page loading 
*****************************************/
/*
 * itération sur les 9 classes "card-$i"
 */
@for $i from 1 through 10 {
  .card-#{$i - 1} {
    animation-delay: ($i * 0.2s);
  }
}

@keyframes cards-onset {
  from {
    transform: scale(0);   
  } 
  to {
    transform: scale(1);
  }
}

// .wrapper__icon {
//   &:hover {
//     animation: likeIconFilling 300ms ease-in-out; 
//   }
// }

// @keyframes likeIconfilling {
//   0% {
//     transform: scale(0);
//     opacity: 0;
//     background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
//   }
//   25% {
//     transform: scale(0.25);
//     opacity: 0.25;
//   }
//   50% {
//     transform: scale(0.5);
//     opacity: 0.5;
    
//   }
//   75% {
//     transform: scale(0.75);
//     opacity: 0.75;
//   }
//   100% {
//     transform: scale(1);
//     opacity: 1;
//       background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
//   }
// }