@use "./themes.scss";
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@font-face {
  font-family: "Roboto", sans-serif;
  src: url(../assets/Fonts/roboto/Roboto-Regular.ttf) format("truetype");
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none
}

ul {
  list-style: none;
}

.title {
  font-family: "Shrikhand", serif;
  font-size: 2.8rem;
  /* font-weight: 400; */
}

%shadow {
  box-shadow: 0px 10px 6px themes.$shadow-color;
  -webkit-box-shadow: 0px 10px 12px 0px themes.$shadow-color;
  -moz-box-shadow: 0px 10px 12px 0px themes.$shadow-color;
}

.btn {
  font-size: 1.6rem;
  @extend %shadow;
  border: none;
  border-radius: 25px;
  /* changed only on "menu" pages */
  background-color: themes.$background-color;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
  /* margin-left: 1.3rem;
  margin-right: 1.3rem; */
}

.header-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    /* TODO: center this logo */
    &--logo {
      width: 40vh;
      margin: 2rem 4rem;
    }
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 231px;
  }
}

.main-container {
  background-color: themes.$second-background-color;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  padding-bottom: 4rem;
  position: relative;
  z-index: 2;
  top: -30px
}

.title-block {
  display: flex;
  gap: 3rem;
  margin-left: 1.7rem;
}

.menu {
  background-color: themes.$second-background-color;
  padding: 1rem 1.7rem;

  &__type {
    text-transform: uppercase;
    font-size: 1.6rem;
    position: relative;
  }

  &__type::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    bottom: -6px;
    left: 0;
    background-color: themes.$third-color;
  }

  &__title {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 0 1.7rem;
  }

  &__description {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    padding: 0 1.7rem;

    &--bold {
      font-weight: 700;
    }
  }
}

.btn--linear-gardient {
  @extend .btn;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: rgb(147, 86, 220);
  background: -moz-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
  background: linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc", endColorstr="#ff79da", GradientType=1);
  color: themes.$background-color;
  width: 218px;
  height: 50px;

  &:hover {
    /* todo */
    background: themes.$primary-color;
  }
}

/* .btn--width {
  width: 100%;
} */

.btn-submit {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.cards {
  margin-bottom: 20px;
}

.card {
  background-color: themes.$background-color;
  margin-bottom: 20px;
  border-radius: 15px;
  @extend %shadow
}

.footer-block {
  background-color: themes.$dark-color;
  color: white;
  padding-bottom: 2.2rem;

  &__title {
    font-family: "Shrikhand", serif;
    font-size: 1.8rem;
    padding-left: 2.5rem;
    padding-top: 2.2rem;
    margin-top: 0;
  }

  ul {
    padding-left: 2.5rem;
  }

  li {
    font-size: 1.6rem;
  }

  span {
    padding-left: 7px;
  }
}

/**************************************************
      loader with stagger circles - animation
***************************************************/
.section-loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 50px;
  height: 50px;
  // margin-right: 45px;
  margin-top: 35px;
  display: inline-block;
  vertical-align: middle;
  position: relative;

  &-stagger-circles {
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #000;
    animation: spin 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    // animation-play-state: running;
    // animation-play-state: paused;

    &::after {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      bottom: 5px;
      right: 5px;
      border: 3px solid transparent;
      border-top-color: #4b4949;
      border-radius: 50%;
      opacity: 0.8;
      animation: spin 5s linear infinite; /* drive the stagger between cercles */
      
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 12px;
      bottom: 12px;
      right: 12px;
      border: 3px solid transparent;
      border-top-color: #4b4949;
      border-radius: 50%;
      opacity: 0.5; /* dicrease opacity towards the center */
      animation: spin 10s linear infinite; /* drive the stagger between cercles */
    }
  }
}

.start-loader {
  animation-play-state: running;
}

.stop-loader {
  animation-play-state: paused;
}

@keyframes spin {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
