@use "./themes.scss";
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@font-face {
  font-family: "Roboto", sans-serif;
  src: url(../assets/Fonts/roboto/Roboto-Regular.ttf) format("truetype");
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none
}

ul {
  list-style: none;
}

.title {
  font-family: "Shrikhand", serif;
  font-size: 2.8rem;
  /* font-weight: 400; */
}

%shadow {
  box-shadow: 0px 10px 6px themes.$shadow-color;
  -webkit-box-shadow: 0px 10px 12px 0px themes.$shadow-color;
  -moz-box-shadow: 0px 10px 12px 0px themes.$shadow-color;
}

.btn {
  font-size: 1.6rem;
  @extend %shadow;
  border: none;
  border-radius: 25px;
  /* changed only on "menu" pages */
  background-color: themes.$background-color;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
  /* margin-left: 1.3rem;
  margin-right: 1.3rem; */
}

.header-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &--logo {
      width: 40vh;
      margin: 2rem 4rem;
    }
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 231px;
  }
}

.main-container {
  background-color: themes.$second-background-color;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  padding-bottom: 4rem;
  position: relative;
  z-index: 2;
  top: -30px
}

.title-block {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-left: 1.7rem;
}

.cards {
  background-color: themes.$second-background-color;
  padding: 1rem 1.7rem;
  
  &__type {
    text-transform: uppercase;
    font-size: 1.6rem;
    position: relative;
  }

  &__type::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    bottom: -6px;
    left: 0;
    background-color: themes.$third-color;
  }
}

.card {
  @extend %shadow;
  height: 6.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  margin-bottom: 1.2rem;
  border-radius: 25px;
  font-size: 1.6rem;
  background-color: themes.$background-color;

  &__content {  
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;

    &--title {
      font-size: 1.8rem;
      font-weight: 500;
      padding-left: 1.7rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &--description {
      font-size: 1.5rem;
      font-weight: 300;
      padding-left: 1.7rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      // margin-bottom: 1.35rem;
    }
  }  
  
  // &__checked {
  //   display: none;
  //   position: relative;
  //   border-top-right-radius: 2.5rem;
  //   border-bottom-right-radius: 2.5rem;
  //   color: themes.$background-color;
  //   background-color: themes.$third-color;
  //   padding: 2rem;
  //   right: 0;
  //   appearance: none;
  //   font-weight: 900;
  //   font-family: "Font Awesome 6 Free";

  //   &::before {
  //     content: '\f00c';
  //   }
  // }

  &__bold {
    font-weight: 700;
    padding: 3.75rem 1.35rem 1.3rem 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

/**************************************************
        card menu animation on hover
***************************************************/
.card:hover .card__checked {
  display: block;
  height: 3rem;
  // transform: translateX(-60px);
  // transition: all .3s ease-in-out;
  width: 2rem;
  animation: slideIn .5s forwards;
  position: absolute;
}

// .card__input {
//   display: none;
//   appearance: none;
//   font-weight: 900;
//   font-family: "Font Awesome 6 Free";

//   &::before {
//     content: '\f00c';  
//   }
// }

.btn--linear-gardient {
  @include themes.linear-gardient-primary;
  @extend .btn;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: themes.$background-color;
  width: 218px;
  height: 50px;

  &:hover {
    @include themes.linear-gardient-secondary;
  }
}

.btn--width {
  width: 100%;
}

.btn-submit {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.footer-block {
  background-color: themes.$dark-color;
  color: white;
  padding-bottom: 2.2rem;

  &__title {
    font-family: "Shrikhand", serif;
    font-size: 1.8rem;
    padding-left: 2.5rem;
    padding-top: 2.2rem;
    margin-top: 0;
  }

  ul {
    padding-left: 2.5rem;
  }

  li {
    font-size: 1.6rem;
  }

  span {
    padding-left: 7px;
  }
}

/*******************************************************************
        Heart / Like icon animation on hover / on checked
********************************************************************/
.like-input {
  -webkit-appearance: none;
	cursor: pointer;
  height: 100%;
	position: absolute;
	width: 100%;
  appearance: none;
  font-weight: 400;
  font-family: "Font Awesome 6 Free";

  &::before {
    // content: '\f004';  
    // content: url(../assets/color-heart/Vector.svg);
    content: url(../assets/Card/Vector.svg);
    display: block;
    position: absolute;
    height: 70%;
    width: 85%;
  }

  // &:hover::before {
  //     animation: heartcolor .3s;
  // }

  &::after {
    background: url(../assets/Card/Vector.svg);
    content: "";
    height: 25px;
    opacity: 0.6;
    position: absolute;
    width: 25px;
  }

  &:checked::after {
    opacity: 1;
    background: url(../assets/color-heart/Vector.svg);
  }
}

@keyframes slideIn {
  0% {
    // opacity: 0;
    transform: translateX(0);
    transform-origin: left;
    right: 0;
  }
  100% {
    // opacity: 1;
    transform: translateX(-20px);
    right: 20px;
  }
}

@keyframes slideBold {
  from {
    margin-right: 0;
  }
  to {
    margin-right: 6rem;
  }
}