@use "./partials/themes";

@import "./base/base";
@import "./base/reset";

@import "./partials/responsive";
@import "./partials/utils";

@import "./layout/header";
@import "./layout/footer";

@import "./fontawesome/fontawesome.scss";
@import "./fontawesome/regular.scss";
@import "./fontawesome/solid.scss";

%dropshadow {
  filter: drop-shadow(0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1));
}

%shadow {
  box-shadow: 0px 10px 6px themes.$shadow-color;
  -webkit-box-shadow: 0px 10px 12px 0px themes.$shadow-color;
  -moz-box-shadow: 0px 10px 12px 0px themes.$shadow-color;
}

%card-shadow {
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1);
}

.title {
  font-family: themes.$primary-font;
}

.btn {
  font-size: 1.6rem;
  @extend %shadow;
  border: none;
  border-radius: 25px;
  /* changed only on "menu" pages */
  background-color: themes.$background-color;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}

.main-container {
  background-color: themes.$second-background-color;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  padding-bottom: 4rem;
  position: relative;
  z-index: 2;
  top: -46px;

  @media #{$medium-screen} {  
    margin-left: 7.5vw;
    margin-right: 7.5vw;
  }

  @media #{$large-screen} {  
    margin-left: 15vw;
    margin-right: 15vw;
  }
}

.title-block { 
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media #{$medium-screen} {
    justify-content: center;
    gap: 3rem;
  }

  @media #{$large-screen} {
    justify-content: center;
  }

  h1 {
    margin-left: 1.7rem;
    padding-top: 3.2rem;
    padding-bottom: 4rem;
    font-weight: 400;
    font-size: 2.8rem;
  }
}

.wrapper-icon {
  padding-left: 4rem;
}

.cards {
  background-color: themes.$second-background-color;
  padding: 1rem 1.7rem;

  @media #{$medium-screen} {
    margin-right: 10vw;
    margin-left: 10vw;
  }
  
  @media #{$large-screen} {
    margin-right: 12vw;
    margin-left: 12vw;
  }
  &__type {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 300;
    position: relative;
    top: -5px;
  }

  &__type::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    bottom: -7px;
    left: 0;
    background-color: themes.$third-color;
  }
}

.card {
  @extend %card-shadow;
  height: 6.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  border-radius: 25px;
  font-size: 1.6rem;
  background-color: themes.$background-color;
  overflow: hidden;
  animation: cards-onset .3s;
  animation-play-state: running;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;

/*********************************** 
*** menu cards animated on hover *** 
************************************/
  &__check {
    background-color: themes.$third-color;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 100%;
    margin-right: -60px;
    transition: margin 500ms;
  }

  &:hover {
    .card__check {
      margin-right: 0;
    }
  }

  &__content {  
    max-width: 80%;
    padding: 1.2rem 1rem 1.2rem 0;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* flex-grow property with value to 1 (0 by default) 
    allow to gobble up any extra space in the card container */

    &--title {
      font-size: 1.8rem;
      font-weight: 500;
      padding-left: 1.7rem;
      padding-bottom: 0.5rem;
    }

    h3 {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &--description {
      font-size: 1.5rem;
      font-weight: 300;
      padding-left: 1.7rem;
    }

    p {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &--price {
      display: flex;
    }
  }  

  &__bold {
    font-weight: 700;
    padding: 3.75rem 1.35rem 1.3rem 0;
  }
  
}

.fa-check {
  background-color: themes.$background-color;  
  color: themes.$third-color;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  text-align: center;
  padding: 5px 3px 0 3px;
}

.btn--width {
  width: 100%;
}

.btn-submit {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

/****************************************
  menu cards animation on page loading 
*****************************************/
/*
 * itération sur les classes "card-$i"
 */
@for $i from 1 through 11 {
  .card-#{$i - 1} {
    animation-delay: ($i * 0.2s);
  }
}

@keyframes cards-onset {
  from {
    transform: scale(0);   
  } 
  to {
    transform: scale(1);
  }
}

/***************************************
*** fix main top postion deplacement ***
****************************************/
.footer-block {
  margin-top: -46px;
}