@use "./themes.scss";
@use "./base.scss";
@import "./css_reset.css";
@import "./responsive.scss";

/* "fontawesome" files required to use "regular" & "solid" types icons  */
@import "./fontawesome.scss";
@import "./regular.scss";
@import "./solid.scss";

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

%shadow {
  box-shadow: 0px 10px 6px themes.$shadow-color;
  -webkit-box-shadow: 0px 10px 12px 0px themes.$shadow-color;
  -moz-box-shadow: 0px 10px 12px 0px themes.$shadow-color;
}

a {
  color: inherit;
  text-decoration: none
}

.btn {
  @extend %shadow;
  border: none;
  font-size: 1.6rem;
  font-weight: 500;
  height: 7.2rem;
  border-radius: 25px;
  cursor: pointer;

  &__icon {
    padding-right: 3rem;
  }

  &__text {
    display: inline-block;
  }
}

.header-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    width: 40vh;
    margin: 2rem 4rem;
  }
}

.main-container {
  background-color: themes.$second-background-color;
  padding-bottom: 6.6rem;
}

.location {
  width: 100%;
  display: flex;
  align-items: center;
  /* to center icon & title on vertical axe */
  justify-content: center;
  /* to center icon & title on horizontal axe */
  column-gap: 20px;
  background-color: rgba(234, 234, 234, 1);
  box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.2);

  &__image {
    width: 12px;
    height: 16px;
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.hero {
  margin-top: 1rem;
  text-align: center;
  background-color: themes.$second-background-color;

  &__title {
    text-align: center;
    font-size: 2.4rem;
    margin-top: 5.7rem;
    padding-right: 2.6rem;
    padding-left: 3.4rem;
  }

  &__subtitle {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    padding-right: 4.2rem;
    padding-left: 4.2rem;
    padding-bottom: 1.6rem;
  }
}

.btn--linear-gardient {
  @include themes.linear-gardient-primary;
  @extend .btn;
  color: themes.$background-color;
  width: 218px;
  height: 5rem;

  &:hover {
    @include themes.linear-gardient-secondary;
  }
}

.fonctionnement {
  background-color: themes.$background-color;
  margin-top: 5.7rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 6.8rem;

  &__title {
    font-size: 2.4rem;
    padding-top: 2.5rem;
    padding-bottom: 0;
    margin-left: 2rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

  }
}

.btn--width {
  width: 100%;
}

ul,
ol {
  list-style: none;
}

ol {
  counter-reset: my-count;

  li {
    counter-increment: my-count;
    margin: 0.25rem;
    position: relative;
  }

  li::before {
    /* to create circle around counter number */
    content: counter(my-count);
    /* create an incremental counter on every <li> */
    background: themes.$primary-color;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    line-height: 2rem;
    color: themes.$background-color;
    text-align: center;
    margin-right: 0.5rem;

    /* to move circles positions */
    position: absolute;
    top: 2.5rem;
    left: -0.8rem;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  background-color: themes.$second-background-color;
  gap: 18px;

  &__title {
    margin-top: 5.4rem;
    font-size: 2.4rem;
    margin-left: 2rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 15px;
  background-color: themes.$background-color;
  margin: 0 17px;

  &__btn {
    @extend .btn;
    background-color: themes.$third-color;
    color: themes.$btn-text-color;
    border-radius: 0.3rem;
    width: 20vw;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    height: 2.9rem;
    font-size: 1.4rem;
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 184px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;

    &__text {
      display: flex;
      flex-direction: column;
      padding-left: 1.3rem;

      &--title {
        font-size: 1.8rem;
        font-weight: 700;
        padding-bottom: .5rem;
        margin-top: 1.6rem;
        margin-bottom: 0;
      }

      &--subtitle {
        font-size: 1.7rem;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 1.2rem;
      }
    }

    // &__like {
    //   margin-right: 2.5rem;
    //   padding: 40px;       
    // }
  }
}

.like-input {
  -webkit-appearance: none;
  cursor: pointer;
  height: 100%;
	position: absolute;
	width: 100%;
  appearance: none;
  font-weight: 400;
  font-family: "Font Awesome 6 Free";

  &::before {
    // content: '\f004';  
    // content: url(../assets/color-heart/Vector.svg);
    content: '';
    display: block;
    position: absolute;
    height: 70%;
    width: 85%;
  }

  &::after {
    background: url(../assets/Card/Vector.svg);
    content: "";
    height: 25px;
    opacity: 0.6;
    position: absolute;
    width: 25px;
  }

  &:checked::after {
    opacity: 1;
    background: url(../assets/color-heart/Vector.svg);
  }
}

.footer-block {
  background-color: themes.$dark-color;
  color: themes.$background-color;
  padding-bottom: 2.2rem;

  &__title {
    font-family: "Shrikhand", serif;
    font-size: 1.8rem;
    padding-left: 2.5rem;
    padding-top: 2.2rem;
    margin-top: 0;
  }

  ul {
    padding-left: 2.5rem;
  }

  li {
    font-size: 1.6rem;
    padding-bottom: 0.7rem;
  }

  .footer-link {
    padding-left: 1.1rem;
    padding-bottom: 0.7rem;
  }

  // span {
  //   padding-left: 7px;
  // }
}

/*
@keyframes heartColor {
  from {
    background-image: url(../assets/Card/Vector.svg); 
  } 
  to {
    
  }
}

 @media #{$large-screen} {
  html {
    background-color: black;
  }
} */

.wrapper__icon {
  font-size: 1.2rem; 
  color: themes.$background-color;
}

.wrapper__icon--like {
  font-size: 2.2rem; 
}