@use "sass:map";

// $font-weights: ("regular": 400, "medium": 500, "bold": 700);
// $box-shadow: (
//   /* offset-x | offset-y | blur-radius | spread-radius | color */
//   "offset-x": 2px, 
//   "offset-y": 2px, 
//   "blur-radius": 2px, 
//   "spread-radius": 1px, 
//   "color":rgba(0, 0, 0, 0.2)
// );

@mixin linear-gardient-primary {
  background: rgb(147, 86, 220);
  background: -moz-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
  background: linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc", endColorstr="#ff79da", GradientType=1);
}

@mixin linear-gardient-secondary {
  background: rgb(168, 127, 218);
  background: -moz-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
  background: linear-gradient(0deg, rgb(175, 126, 235) 0%, rgb(248, 144, 219) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc", endColorstr="#ff79da", GradientType=1);
}

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$btn-text-color: #008766;
$background-color: rgb(255, 255, 255);
$dark-color: #353535;
$second-background-color: rgba(246, 246, 246, 1);
$shadow-color: rgba(0, 0, 0, 0.2);
$third-background-color: rgba(234, 234, 234, 1);

@mixin shadow($color, $sizes) {
  box-shadow: 0px 10px 6px $color;
  -webkit-box-shadow: 0px 10px 12px 0px $color;
  -moz-box-shadow: 0px 10px 12px 0px $color;
}

%shadow {
  box-shadow: 0px 10px 6px $shadow-color;
  -webkit-box-shadow: 0px 10px 12px 0px $shadow-color;
  -moz-box-shadow: 0px 10px 12px 0px $shadow-color;
}
/*********************************************
*  linear-gardient button animated on hover 
*  using @keyframes  
**********************************************/
.btn {
  font-size: 1.6rem;
  @extend %shadow;
  border: none;
  border-radius: 25px;
  /* changed only on "menu" pages */
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
  /* margin-left: 1.3rem;
  margin-right: 1.3rem; */
}

.btn--linear-gardient {
  @extend .btn;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: $background-color;
  width: 218px;
  height: 50px;
  // transition: background-color .3s;
  background: rgb(147, 86, 220);
  background: -moz-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
  background: linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc", endColorstr="#ff79da", GradientType=1);

  &:hover {
    // @include themes.linear-gardient-secondary;
    // background-color: red;
    animation: btn-animated .5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }
}

@keyframes btn-animated {
  from {
    background: rgb(147, 86, 220);
    background: -moz-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
    background: linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc", endColorstr="#ff79da", GradientType=1);
    box-shadow: 0px 10px 6px $shadow-color;
    -webkit-box-shadow: 0px 10px 12px 0px $shadow-color;
    -moz-box-shadow: 0px 10px 12px 0px $shadow-color;
  } 
  to {
    background: rgb(168, 127, 218);
    background: -moz-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
    background: linear-gradient(0deg, rgb(175, 126, 235) 0%, rgb(248, 144, 219) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc", endColorstr="#ff79da", GradientType=1);
    box-shadow: 0px 10px 12px $shadow-color;
    -webkit-box-shadow: 0px 10px 12px 10px $shadow-color;
    -moz-box-shadow: 0px 10px 12px 10px $shadow-color;
  }
}