@use "./themes.scss" as t;

%shadow {
  box-shadow: 0px 10px 6px t.$shadow-color;
  -webkit-box-shadow: 0px 10px 12px 0px t.$shadow-color;
  -moz-box-shadow: 0px 10px 12px 0px t.$shadow-color;
}

.btn {
  @extend %shadow;
  border: none;
  font-size: 1.6rem;
  font-weight: 500;
  height: 7.2rem;
  border-radius: 25px;
  cursor: pointer;

  &__icon {
    padding-right: 3rem;
  }

  &__text {
    display: inline-block;
  }
}

.btn--width {
  width: 100%;
}