@use "../themes" as t;

.header-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &--logo {
      width: 40vh;
      margin: 2rem 4rem;
    }
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 231px;
  }
}

.home-header-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 6.3rem;

  .logo {
    width: auto;
    height: 3.6rem;
    margin: 2rem 4rem;
  }
}

.footer-block {
  background-color: t.$dark-color;
  color: white;
  padding-bottom: 2.2rem;

  &__title {
    font-family: "Shrikhand", serif;
    font-size: 1.8rem;
    font-weight: 400;
    padding-left: 2.5rem;
    padding-top: 2.2rem;
    margin-top: 0;
  }

  ul {
    padding-left: 2.5rem;
  }

  li {
    font-size: 1.6rem;
  }

  span {
    padding-left: 7px;
  }
}