@use "sass:map";

/**** fonts ****/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// @font-face {
//   font-family: "Roboto", sans-serif;
//   src: url(../assets/Fonts/roboto/Roboto-Regular.ttf) format("truetype");
// }

/**** linear-gardient mixins ****/
@mixin linear-gardient-primary {
  background: rgb(147, 86, 220);
  background: -moz-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
  background: linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc", endColorstr="#ff79da", GradientType=1);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

@mixin linear-gardient-secondary {
  background: rgb(168, 127, 218);
  background: -moz-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
  background: linear-gradient(0deg, rgb(175, 126, 235) 0%, rgb(248, 144, 219) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc", endColorstr="#ff79da", GradientType=1);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

/**** fonts familly var. *****/
$primary-font: "Shrikhand", serif;
$secondary-font: "Roboto", sans-serif;

/**** colors var. ****/
$primary-color: hsl(267, 66%, 60%);
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$btn-text-color: #008766;
$background-color: rgb(255, 255, 255);
$dark-color: #353535;
$second-background-color: rgba(246, 246, 246, 1);
$shadow-color: rgba(0, 0, 0, 0.2);
$third-background-color: rgba(234, 234, 234, 1);
$dark-garden-color: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
$light-garden-color: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%),
linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));

%shadow {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
/*********************************************
*  linear-gardient button animated on hover 
*  using @keyframes  
**********************************************/
.btn {
  font-size: 1.6rem;
  @extend %shadow;
  border: none;
  // box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  /* changed only on "menu" pages */
  // background-color: $background-color;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
  cursor: pointer;
  font-weight: 500;
}

.btn--linear-gardient {
  @extend .btn;
  @include linear-gardient-primary();
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: $background-color;
  // background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  // box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  width: 218px;
  height: 50px;
  position: relative;
  z-index: 1;
  border-radius: 25px;

  &:hover {
    &::after {
      opacity: 1;
    }
  }

  &::after {
    content: '';
    position: absolute;
    @include linear-gardient-secondary();
    z-index: -1;
    opacity: 0;
    border-radius: 25px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 250ms ease-in-out;
  }
}

.btn--linear-gardient {
  @extend .btn;
  @include linear-gardient-primary();
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: $background-color;
  // background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  // box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  width: 218px;
  height: 50px;
  position: relative;
  z-index: 1;
  border-radius: 25px;

  &:hover {
    &::after {
      opacity: 1;
    }
  }

  &::after {
    content: '';
    position: absolute;
    @include linear-gardient-secondary();
    // @include gardient-primary($color-from-start, $color-from-end, $shadow-first);
    z-index: -1;
    opacity: 0;
    border-radius: 25px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 250ms ease-in-out;
  }
}

/********************************
linear-gardient mixins with args
*********************************/
/*
* mixins variables - 
* from: from animation begin
* to: to animation end
* start: first color on linear-gardient
* end: last color on linear-gardient
*/

// $color-from-start: rgba(147, 86, 220, 1); 
// $color-from-end: rgba(255, 121, 218, 1);
// $color-to-start: rgb(175, 126, 235);
// $color-to-end: rgb(248, 144, 219);
// $shadow-first: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
// $shadow-scd: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);

// @mixin gardient-primary($color1, $color2, $color3) {
//   background: #{$color1};
//   background: -moz-linear-gradient(0deg, #{$color1} 0%, #{$color2} 100%);
//   background: -webkit-linear-gradient(0deg, #{$color1} 0%, #{$color2} 100%);
//   background: linear-gradient(0deg, #{$color1} 0%, #{$color2} 100%);
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$color1}, endColorstr="#{$color2}", GradientType=1);
//   box-shadow: #{$color3};
// }

// @mixin gardient-secondary($bg-first, $bg-scd, $filter, $shadow-scd...) {
//   background: $bg-first;
//   background: -moz-linear-gradient(0deg, #{$bg-first} 0%, #{$bg-scd} 100%);
//   background: -webkit-linear-gradient(0deg, #{$bg-first} 0%, #{$bg-scd} 100%);
//   background: linear-gradient(0deg, #{$bg-first-end} 0%, #{$bg-scd-end} 100%);
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{$bg-first}", endColorstr="#{$bg-scd}", GradientType=1);
//   box-shadow: $shadow-scd;
// }