@use "sass:map";

/**** fonts ****/
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@font-face {
  font-family: "Roboto", sans-serif;
  src: url(../assets/Fonts/roboto/Roboto-Regular.ttf) format("truetype");
}

/**** colors mixins ****/
@mixin linear-gardient-primary {
  background: rgb(147, 86, 220);
  background: -moz-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
  background: linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc", endColorstr="#ff79da", GradientType=1);
}

@mixin linear-gardient-secondary {
  background: rgb(168, 127, 218);
  background: -moz-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
  background: linear-gradient(0deg, rgb(175, 126, 235) 0%, rgb(248, 144, 219) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc", endColorstr="#ff79da", GradientType=1);
}

/**** colors variables ****/
$primary-color: hsl(267, 66%, 60%);
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$btn-text-color: #008766;
$background-color: rgb(255, 255, 255);
$dark-color: #353535;
$second-background-color: rgba(246, 246, 246, 1);
$shadow-color: rgba(0, 0, 0, 0.2);
$third-background-color: rgba(234, 234, 234, 1);

%shadow {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
/*********************************************
*  linear-gardient button animated on hover 
*  using @keyframes  
**********************************************/
.btn {
  font-size: 1.6rem;
  
  @extend %shadow;
  border: none;
  border-radius: 25px;
  /* changed only on "menu" pages */
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}

.btn--linear-gardient {
  @extend .btn;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: $background-color;
  width: 218px;
  height: 50px;
  // background: linear-gradient(193.33deg, $first-linear-color -11.44%, $second-linear-color 123.93%);
  // box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  // background: linear-gradient(193.33deg, #FF79DA -11.44%, #9356DC 123.93%);
  // @extend linear-gardient-primary;
  background: rgb(147, 86, 220);
  background: -moz-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
  background: linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc", endColorstr="#ff79da", GradientType=1);
  
  &:hover {
    animation: btn-animated 500ms;
    //animation: lighten-linear 500ms;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
}

@keyframes btn-animated {
  0% {
    background: hsl(267, 66%, 60%);
    background: -moz-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
    background: linear-gradient(0deg, hsl(267, 66%, 60%) 0%, hsl(317, 100%, 74%) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc", endColorstr="#ff79da", GradientType=1);
    // background: linear-gradient(193.33deg, #FF79DA -11.44%, #9356DC 123.93%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  } 
  20% {
    background: hsl(267, 64%, 62%);
    background: -moz-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
    background: linear-gradient(0deg, hsl(267, 67%, 62%) 0%, hsl(317, 98%, 75%) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc", endColorstr="#ff79da", GradientType=1);
    // background: linear-gradient(193.33deg, #FF79DA -11.44%, #9356DC 123.93%);
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.27);
  }
  40% {
    background: hsl(267, 62%, 64%);
    background: -moz-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
    background: linear-gradient(0deg, hsl(267, 69%, 64%) 0%, hsl(317, 95%, 75.5%) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc", endColorstr="#ff79da", GradientType=1);
    // background: linear-gradient(193.33deg, #FF79DA -11.44%, #9356DC 123.93%);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.29);
  }
  60% {
    background: hsl(267, 59%, 65%);
    background: -moz-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
    background: linear-gradient(0deg, hsl(267, 70%, 66%) 0%, hsl(317, 92%, 76%) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc", endColorstr="#ff79da", GradientType=1);
    // background: linear-gradient(193.33deg, #FF79DA -11.44%, #9356DC 123.93%);
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.31);
  }
  80% {
    background: hsl(267, 57%, 67%);
    background: -moz-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
    background: linear-gradient(0deg, hsl(267, 71%, 69%) 0%, hsl(317, 90%, 76.5%) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc", endColorstr="#ff79da", GradientType=1);
    // background: linear-gradient(193.33deg, #FF79DA -11.44%, #9356DC 123.93%);
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.33);
  }
  100% {
    background: hsl(267, 55%, 68%);
    background: -moz-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
    background: linear-gradient(0deg, hsl(267, 73%, 71%) 0%, hsl(317, 88%, 77%) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc", endColorstr="#ff79da", GradientType=1);
    //background: linear-gradient(200.64deg, #FF79DA -5.2%, #9356DC 110.74%),
                // linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  }
}

// $first-linear-color: hsl(267, 66%, 60%);
// // $first-linear-color: rgb(146, 86, 220);
// // $second-background-color: rgb(255, 122, 217);
// $second-linear-color: hsl(317, 100%, 74%);
// $shadow-linear-color: rgba(0, 0, 0, 0.25);
// $linear-color: rgba(255, 255, 255, 0.15);

// @keyframes lighten-linear {
//   0% {
//     background: linear-gradient(193.33deg, $first-linear-color -11.44%, $second-linear-color 123.93%);
//     box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
//   } 
  // 20% {

  //   box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.26);
  // }
  // 40% {

  //   box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.28);
  // }
  // 60% {

  //   box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.30);
  // }
  // 80% {

  //   box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.325);
  // }
//   100% {
//     background: linear-gradient(200.64deg, $first-linear-color -5.2%, $second-linear-color 110.74%),
//     linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
//     box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
//   }
// }

// @keyframes lighten-linear {
//   0% {
//     background: linear-gradient(193.33deg, $first-linear-color -11.44%, $second-linear-color 123.93%),
//                 linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
//     box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
//   } 
//   20% {

// box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.26);
//   }
//   40% {

// box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.28);
//   }
//   60% {

// box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.30);
//   }
//   80% {

// box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.325);
//   }
//   100% {

// box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
//   }
// }

// @keyframes lighten-linear {
//   from {
//     background: $background-linear-color;
//     background: -moz-linear-gradient(0deg, $first-linear-color 0%, $second-linear-color 100%);
//     background: -webkit-linear-gradient(0deg, $first-linear-color 0%, $second-linear-color 100%);
//     background: linear-gradient(0deg, $first-linear-color 0%, $second-linear-color 100%);
//     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc", endColorstr="#ff79da", GradientType=1);
//     box-shadow: 0px 4px 10px 0px $shadow-linear-color;
//   } 
//   to {
//     background: lighten(rgb(168, 127, 218), 10);
//     background: -moz-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
//     background: -webkit-linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
//     background: linear-gradient(0deg, lighten(rgb(175, 126, 235), 5) 0%, rgb(248, 144, 219) 100%);
//     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9356dc", endColorstr="#ff79da", GradientType=1);
//     //background: linear-gradient(200.64deg, #FF79DA -5.2%, #9356DC 110.74%),
//                 // linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
//     box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
//   }
// }

/****************************************************************
/******** Icons Font Awesome (SCSS version) *********************
*****************************************************************/
/*
 * affecter une opacité à 0 sur icon avec bg linear-gardient, ce qui le rend invisible
 * la valeur de l'opacité passe à 1 sur le pseudo-element ":hover", ce qui le rend visible
 */
 
// .theme-linear-gardient {
//     --fa-secondary-opacity: 1;
//     --fa-primary-color: transparent;
//     --fa-secondary-color: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
// }