/************************
******* colors **********
*************************/
$primary-color: hsl(267, 66%, 60%);
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$btn-text-color: #008766;
$background-color: rgb(255, 255, 255);
$dark-color: #353535;
$second-background-color: rgba(246, 246, 246, 1);
$shadow-color: rgba(0, 0, 0, 0.2);
$third-background-color: rgba(234, 234, 234, 1);

/************************
**** border-radius ******
*************************/
$border-radius: .375rem;
$border-radius-sm: .25rem;
$border-radius-lg: .5rem;
$border-radius-xl: 1rem;
$border-radius-xxl: 2rem;

/************************
******* padding *********
*************************/

/************************
******* margin **********
*************************/


/************************
********** btn **********
*************************/

/************************
******* cards ***********
*************************/
$card-spacer-y:      "";
$card-spacer-x:      "";
$card-title-spacer-y:"";   
$card-title-color:   "";    
$card-subtitle-color:    "";
$card-border-width:     "";
$card-border-color:      "";           
$card-border-radius:     "";
$card-box-shadow:        "";
$card-inner-border-radius:          "";
$card-cap-padding-y:           "";
$card-cap-padding-x:               "";
$card-cap-bg:                     "";
$card-cap-color:         "";
$card-height:            "";
$card-color:             "";
$card-bg:                    "";
$card-img-overlay-padding:  "";
$card-group-margin:                "";